useDynLib(itb, .registration = TRUE)

export(version)
export(profiles)
export(inspect)
export(register)
export(lookup)
export(set_memory_limit)
export(set_gc_percent)
export(itb_now)
export(itb_opts)
export(itb_status)
export(to_hex)
export(from_hex)

export(pipeline_create)
export(pipeline_load)
export(pipeline_load_f)
export(pipeline_save)
export(pipeline_save_f)
export(pipeline_max_workers)
export(pipeline_encrypt_message)
export(pipeline_decrypt_message)
export(pipeline_encrypt_stream_one_shot)
export(pipeline_decrypt_stream_one_shot)
export(pipeline_rekey)
export(pipeline_close)
export(pipeline_free)

export(stream_encryptor)
export(stream_decryptor)
export(stream_write)
export(stream_end)
export(stream_read)
export(stream_read_into)
export(stream_write_slice)
export(stream_drain_all)
export(stream_free)
export(pump)

S3method(print, ITBPipeline)
S3method(print, ITBStream)
